.slick-prev,
.slick-next {
	position: absolute;
	top: calc(50% - 19px);
	margin-top: -9px;
	border: none;
	background: none;
	z-index: 10;
	width: 36px;
	height: 38px;
	overflow: hidden;
	text-indent: -10000px;
	font-size: 0;
	padding: 0;
	/*-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;*/
	background-repeat: no-repeat;
	background-image: url("../i/spritesheet.png");
}
.slick-arrow:hover {
	cursor: pointer;
}
.slick-prev {
	left: 17px;
	background-position: 0px -675px;
}
.slick-prev:hover {
	background-position: -37px -675px;
}
.slick-next {
	right: 17px;
	background-position: -70px -675px;
}
.slick-next:hover {
	background-position: -107px -675px;
}
.slick-dots {
	list-style: none;
	position: absolute;
	bottom: 14px;
	left: 0;
	right: 0;
	text-align: center;
}
.slick-dots button {
	display: inline-block;
	overflow: hidden;
	font-size: 0;
	text-indent: -10000px;
	padding: 0;
	background: none;
	border: 2px solid #000;
	width: 20px;
	height: 19px;
	box-sizing: border-box;
	border-radius: 50%;
	background-clip: content-box;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.slick-dots button:hover {
	cursor: pointer;
	padding: 3px;
	background-color: #cf0000;
}
.slick-dots li {
	margin: 0 6px;
	display: inline-block;
}
.slick-dots li.slick-active button {
	background-color: #cf0000;
	padding: 0;
}

.b-1 .b-block {
	padding-top: 59px;
	padding-bottom: 103px;
}
.main-caption {
	font-size: 40px;
	font-family: AlegreyaSans-Black, sans-serif;
	margin-bottom: 22px;
	letter-spacing: .2px;
}
.main-text {
	font-size: 21px;
	line-height: 1.2;
	margin-bottom: 29px;
	letter-spacing: -0.07px;
}
.main-slider {
	max-width: 1030px;
	width: 100%;
	margin: 0 auto;
}
.main-slide img {
	display: block;
	width: 100%;
}

.b-2 {
	  background: #708fff;
  	color: #fff;
}
.b-2 .b-block {
  	padding-top: 65px;
  	padding-bottom: 94px;
}
.courses-description {
  	text-align: center;
  	font-size: 21px;
  	margin-bottom: 77px;
}
.courses-list {
  	list-style: none;
  	display: block;
  	margin: 0 -31px;
}
.courses-item {
  	width: calc(33.33% - 5px);
  	box-sizing: border-box;
  	padding: 0 15px;
  	text-align: center;
  	display: inline-block;
  	vertical-align: top;
}
.courses-item:hover .courses-ico-01:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.courses-item:hover .courses-ico-02:after {
	-webkit-transform: rotate(255deg);
	-moz-transform: rotate(255deg);
	-ms-transform: rotate(255deg);
	-o-transform: rotate(255deg);
	transform: rotate(255deg);
}
.courses-item:hover .courses-ico-03:after {
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	transform: rotate(50deg);
}
.courses-ico {
  	width: 205px;
  	height: 205px;
  	margin: 0 auto 30px;
  	position: relative;
}
.courses-ico:before,
.courses-ico:after {
  	content: '';
  	display: block;
}
.courses-ico:before {
  	position: absolute;
  	left: 50%;
  	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.courses-ico:after {
  	background-image: url("../i/spritesheet.png");
  	background-position: 0px 0px;
  	width: 202px;
  	height: 197px;
  	-webkit-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	-ms-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	transition: all 0.4s;
}
.courses-ico-01:before {
  	margin: -6px 0 0 -3px;
  	background-image: url("../i/spritesheet.png");
  	background-position: -170px -202px;
  	width: 128px;
  	height: 128px;
}
.courses-ico-01:after {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.courses-ico-02:before {
  	margin: -1px 0 0 1px;
  	background-image: url("../i/spritesheet.png");
  	background-position: -548px -350px;
  	width: 111px;
  	height: 111px;
}
.courses-ico-02:after {
	-webkit-transform: rotate(75deg);
	-moz-transform: rotate(75deg);
	-ms-transform: rotate(75deg);
	-o-transform: rotate(75deg);
	transform: rotate(75deg);
}
.courses-ico-03:before {
  	margin: 0px 0 0 -4px;
  	background-image: url("../i/spritesheet.png");
  	background-position: -548px -234px;
  	width: 111px;
  	height: 111px;
}
.courses-ico-03:after {
	-webkit-transform: rotate(-130deg);
	-moz-transform: rotate(-130deg);
	-ms-transform: rotate(-130deg);
	-o-transform: rotate(-130deg);
	transform: rotate(-130deg);
}
.courses-title {
  	font-family: GothamPro-Bold, sans-serif;
  	font-size: 18px;
  	margin-bottom: 15px;
}
.courses-text {
  	font-size: 16px;
  	line-height: 1.2;
  	margin-bottom: 31px;
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  100% {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
}
@-moz-keyframes updown {
  0% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  100% {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
}
@-ms-keyframes updown {
  0% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  100% {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
}
@-o-keyframes updown {
  0% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  100% {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
}
@keyframes updown {
  0% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  100% {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
}
.b-3 .b-block {
  padding-top: 69px;
  padding-bottom: 52px;
}
.levels-tabs-buttons {
  	list-style: none;
  	position: relative;
  	margin: 0 2px 100px -11px;
}
.levels-tabs-buttons:before {
  	content: '';
  	position: absolute;
  	top: 57px;
  	left: 11px;
  	right: -1px;
  	height: 10px;
  	background: url("../i/level-line.png") top center no-repeat;
}
.levels-tabs-item {
  	max-width: 688px;
  	width: 100%;
 	margin: 0 auto 33px;
  	display: none;
}
.levels-tabs-item.active {
	display: block;
}
.levels-button {
  	position: relative;
  	text-decoration: none;
  	font-size: 16px;
  	color: #000000;
  	padding-top: 170px;
  	display: block;
  	text-align: center;
}
.levels-button:before,
.levels-button:after {
  	content: '';
  	position: absolute;
  	left: 50%;
  	-webkit-transform: translateX(-50%);
  	-moz-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.levels-button:before {
  	top: 0;
}
.levels-button:after {
  	top: 130px;
}
.levels-button:hover:before {
	-webkit-transform: translate(-50%, -20px);
	-moz-transform: translate(-50%, -20px);
	-ms-transform: translate(-50%, -20px);
	-o-transform: translate(-50%, -20px);
	transform: translate(-50%, -20px);
}
.levels-button:hover:after {
	-webkit-transform: translate(-50%, -10px);
	-moz-transform: translate(-50%, -10px);
	-ms-transform: translate(-50%, -10px);
	-o-transform: translate(-50%, -10px);
	transform: translate(-50%, -10px);
}
.levels-button-01:before {
  	background-image: url("../i/spritesheet.png");
  	background-position: -548px 0px;
  	width: 114px;
  	height: 112px;
}
.levels-button-01:after {
  	background-image: url("../i/spritesheet.png");
  	background-position: -170px -335px;
  	width: 23px;
  	height: 26px;
}
.levels-button-02:before {
  	background-image: url("../i/spritesheet.png");
  	background-position: -242px -368px;
  	width: 116px;
  	height: 113px;
}
.levels-button-02:after {
  	background-image: url("../i/spritesheet.png");
  	background-position: -294px -171px;
  	width: 24px;
  	height: 25px;
}
.levels-button-03:before {
  	background-image: url("../i/spritesheet.png");
  	background-position: -548px -117px;
  	width: 113px;
  	height: 112px;
}
.levels-button-03:after {
  	background-image: url("../i/spritesheet.png");
  	background-position: -207px -171px;
  	width: 24px;
  	height: 26px;
}
.levels-button-04:before {
  	background-image: url("../i/spritesheet.png");
  	background-position: -363px -368px;
  	width: 115px;
  	height: 113px;
}
.levels-button-04:after {
  	background-image: url("../i/spritesheet.png");
  	background-position: -323px -171px;
  	width: 23px;
  	height: 25px;
}
.levels-button-05:before {
  	background-image: url("../i/spritesheet.png");
  	background-position: -121px -368px;
  	width: 116px;
  	height: 113px;
}
.levels-button-05:after {
  	background-image: url("../i/spritesheet.png");
  	background-position: -265px -171px;
  	width: 24px;
  	height: 25px;
}
.levels-button-06:before {
  	background-image: url("../i/spritesheet.png");
  	background-position: 0px -368px;
  	width: 116px;
  	height: 113px;
}
.levels-button-06:after {
  	background-image: url("../i/spritesheet.png");
  	background-position: -236px -171px;
  	width: 24px;
  	height: 25px;
}
.levels-button-wrap {
  	position: relative;
  	width: 16%;
  	box-sizing: border-box;
  	padding: 0 15px;
  	display: inline-block;
  	vertical-align: top;
}
.levels-button-wrap.active .levels-button:before {
	-webkit-animation: updown 0.5s infinite alternate ease-out;
	-moz-animation: updown 0.5s infinite alternate ease-out;
	-ms-animation: updown 0.5s infinite alternate ease-out;
	-o-animation: updown 0.5s infinite alternate ease-out;
	animation: updown 0.5s infinite alternate ease-out;
}
.levels-button-wrap:last-child:before {
  	content: '';
  	position: absolute;
  	background-image: url("../i/spritesheet.png");
  	background-position: -83px -580px;
  	width: 64px;
  	height: 64px;
  	top: 100%;
  	margin-top: 18px;
  	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.levels-button-mark {
  	margin-top: 10px;
  	font-size: 12px;
  	color: #838383;
}
.levels-duration {
  	position: absolute;
  	font-size: 12px;
  	line-height: 1.16;
  	text-align: center;
  	top: -34px;
  	left: 100%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
  	width: 135px;
}
.levels-image {
	display: inline-block;
	vertical-align: top;
  	width: 178px;
  	margin: 4px 22px 0 0;
}
.levels-description {
  	width: calc(100% - 200px);
  	display: inline-block;
  	vertical-align: top;
  	font-size: 16px;
  	line-height: 1.2;
  	letter-spacing: 0.35px;
  	margin-right: -5px;
  	text-align: left;
}
.levels-description b {
  	display: block;
  	font-family: GothamPro-Bold, sans-serif;
  	font-size: 18px;
  	margin-bottom: 10px;
}
.levels-description span {
  	display: block;
  	margin-bottom: 12px;
}

.b-4 {
  	background-color: #bb88e2;
  	color: #ffffff;
}
.b-4 .b-block {
  	padding-top: 65px;
  	padding-bottom: 62px;
}
.reviews-slider {
  	max-width: 1050px;
  	width: 100%;
  	margin: 0 auto 54px;
}
.reviews-slider .slick-prev {
  	left: -59px;
  	margin-top: -15px;
  	background-position: -272px -580px;
}
.reviews-slider .slick-prev:hover {
	background-position: -192px -580px;
}
.reviews-slider .slick-next {
  	right: -59px;
  	margin-top: -15px;
  	background-position: -151px -580px;
}
.reviews-slider .slick-next:hover {
	background-position: -231px -580px;
}
.reviews-item {
  	padding: 0 15px;
}
.reviews-photo {
  	width: 167px;
  	margin: 6px 31px 0 0;
 	position: relative;
 	display: inline-block;
 	vertical-align: top;
}
.reviews-photo:before {
  	content: '';
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  	margin: 0 0 0 -2px;
  	background-image: url("../i/spritesheet.png");
  	background-position: -207px 0px;
  	width: 170px;
  	height: 166px;
}
.reviews-photo img {
  	border-radius: 50%;
}
.reviews-author {
  	font-size: 16px;
  	font-family: GothamPro-Bold, sans-serif;
  	margin-bottom: 9px;
  	letter-spacing: .6px;
}
.reviews-links {
  	margin-bottom: 14px;
}
.reviews-links li {
  	margin-right: 8px;
}
.reviews-links a {
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	-o-transform: scale(0.85);
	transform: scale(0.85);
}
.reviews-text-wrap {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 204px);
	text-align: left;
}
.reviews-text {
  	line-height: 1.25;
  	letter-spacing: 0.6px;
}
.reviews-button {
  	text-align: center;
}

.b-5 .b-block {
  	padding-top: 71px;
  	padding-bottom: 58px;
}
.benefits-slider {
  	margin-bottom: 54px;
}
.benefits-slider .slick-prev {
  	left: 9px;
  	margin-top: -3px;
}
.benefits-slider .slick-next {
  	right: 9px;
  	margin-top: -3px;
}
.benefits-list {
  	list-style: none;
  	margin: 0 -41px;
  	text-align: center;
}
.benefits-item {
  	width: 24%;
  	box-sizing: border-box;
  	padding: 0 15px;
  	margin-bottom: 61px;
  	padding-top: 187px;
  	position: relative;
  	display: inline-block;
  	vertical-align: top;
}
.benefits-item:nth-child(2n+5) .benefits-ico:after,
.benefits-item:nth-child(-2n+4) .benefits-ico:after {
  	background-image: url("../i/spritesheet.png");
  	background-position: -382px -167px;
  	width: 160px;
  	height: 162px;
}
.benefits-item:nth-last-child(-n+4) {
  	margin-bottom: 0;
}
.benefits-item:hover .benefits-ico-01:after {
	-webkit-transform: rotate(125deg);
	-moz-transform: rotate(125deg);
	-ms-transform: rotate(125deg);
	-o-transform: rotate(125deg);
	transform: rotate(125deg);
}
.benefits-item:hover .benefits-ico-02:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.benefits-item:hover .benefits-ico-03:after {
	-webkit-transform: rotate(182deg);
	-moz-transform: rotate(182deg);
	-ms-transform: rotate(182deg);
	-o-transform: rotate(182deg);
	transform: rotate(182deg);
}
.benefits-item:hover .benefits-ico-04:after {
	-webkit-transform: rotate(95deg);
	-moz-transform: rotate(95deg);
	-ms-transform: rotate(95deg);
	-o-transform: rotate(95deg);
	transform: rotate(95deg);
}
.benefits-item:hover .benefits-ico-05:after {
	-webkit-transform: rotate(105deg);
	-moz-transform: rotate(105deg);
	-ms-transform: rotate(105deg);
	-o-transform: rotate(105deg);
	transform: rotate(105deg);
}
.benefits-item:hover .benefits-ico-06:after {
	-webkit-transform: rotate(85deg);
	-moz-transform: rotate(85deg);
	-ms-transform: rotate(85deg);
	-o-transform: rotate(85deg);
	transform: rotate(85deg);
}
.benefits-item:hover .benefits-ico-07:after {
	-webkit-transform: rotate(167deg);
	-moz-transform: rotate(167deg);
	-ms-transform: rotate(167deg);
	-o-transform: rotate(167deg);
	transform: rotate(167deg);
}
.benefits-item:hover .benefits-ico-08:after {
	-webkit-transform: rotate(110deg);
	-moz-transform: rotate(110deg);
	-ms-transform: rotate(110deg);
	-o-transform: rotate(110deg);
	transform: rotate(110deg);
}
.benefits-ico {
  	position: absolute;
  	width: 162px;
  	height: 162px;
  	top: 0;
  	left: 50%;
  	-webkit-transform: translateX(-50%);
  	-moz-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.benefits-ico:before {
  	content: '';
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.benefits-ico:after {
  	content: '';
  	display: block;
  	-webkit-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	-ms-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	transition: all 0.4s;
  	background-image: url("../i/spritesheet.png");
  	background-position: -382px 0px;
  	width: 161px;
  	height: 162px;
}
.benefits-ico-01:before {
 	margin: 2px 0 0 0;
  	background-image: url("../i/spritesheet.png");
  	background-position: -667px -183px;
  	width: 93px;
  	height: 87px;
}
.benefits-ico-01:after {
	-webkit-transform: rotate(-55deg);
	-moz-transform: rotate(-55deg);
	-ms-transform: rotate(-55deg);
	-o-transform: rotate(-55deg);
	transform: rotate(-55deg);
}
.benefits-ico-02:before {
  	margin: -1px 0 0 -6px;
  	background-image: url("../i/spritesheet.png");
  	background-position: 0px -580px;
  	width: 78px;
  	height: 91px;
}
.benefits-ico-02:after {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.benefits-ico-03:before {
  	margin: 4px 0 0 0;
  	background-image: url("../i/spritesheet.png");
  	background-position: -667px -92px;
  	width: 97px;
  	height: 86px;
}
.benefits-ico-03:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}
.benefits-ico-04:before {
  	background-image: url("../i/spritesheet.png");
  	background-position: -303px -202px;
  	width: 74px;
  	height: 87px;
}
.benefits-ico-04:after {
	-webkit-transform: rotate(-85deg);
	-moz-transform: rotate(-85deg);
	-ms-transform: rotate(-85deg);
	-o-transform: rotate(-85deg);
	transform: rotate(-85deg);
}
.benefits-ico-05:before {
  	margin: 7px 0 0 0;
  	background-image: url("../i/spritesheet.png");
  	background-position: -667px -275px;
  	width: 89px;
  	height: 88px;
}
.benefits-ico-05:after {
	-webkit-transform: rotate(-75deg);
	-moz-transform: rotate(-75deg);
	-ms-transform: rotate(-75deg);
	-o-transform: rotate(-75deg);
	transform: rotate(-75deg);
}
.benefits-ico-06:before {
  	background-image: url("../i/spritesheet.png");
  	background-position: -667px -454px;
  	width: 83px;
  	height: 86px;
}
.benefits-ico-06:after {
	-webkit-transform: rotate(-95deg);
	-moz-transform: rotate(-95deg);
	-ms-transform: rotate(-95deg);
	-o-transform: rotate(-95deg);
	transform: rotate(-95deg);
}
.benefits-ico-07:before {
  	margin: 0 0 0 3px;
  	background-image: url("../i/spritesheet.png");
  	background-position: -364px -486px;
  	width: 70px;
  	height: 73px;
}
.benefits-ico-07:after {
	-webkit-transform: rotate(-13deg);
	-moz-transform: rotate(-13deg);
	-ms-transform: rotate(-13deg);
	-o-transform: rotate(-13deg);
	transform: rotate(-13deg);
}
.benefits-ico-08:before {
  	margin: 6px 0 0 0;
  	background-image: url("../i/spritesheet.png");
  	background-position: -667px -368px;
  	width: 92px;
  	height: 81px;
}
.benefits-ico-08:after {
	-webkit-transform: rotate(-70deg);
	-moz-transform: rotate(-70deg);
	-ms-transform: rotate(-70deg);
	-o-transform: rotate(-70deg);
	transform: rotate(-70deg);
}
.benefits-text {
  	line-height: 1.2;
  	text-align: center;
}
.benefits-text b {
  	font-family: GothamPro-Bold, sans-serif;
}
.benefits-text a {
  	color: #708fff;
  	text-decoration: underline;
}
.benefits-text a:hover {
	text-decoration: none;
}
.benefits-slider img {
	display: block;
	margin: 0 auto;
}

.b-6 {
  	background: #708fff;
}
.b-6 .b-block {
  	padding-top: 50px;
  	padding-bottom: 45px;
  	text-align: center;
}
.subscribe-left {
  	width: 500px;
}
.subscribe-right {
  	width: 632px;
}
.subscribe-image {
  	margin-bottom: 33px;
}
.subscribe-share-text {
  	font-family: GothamPro-Bold, sans-serif;
  	font-size: 16px;
  	color: #003c78;
  	margin-bottom: 22px;
}
.subscribe-share-text mark {
  	color: #ffffff;
  	background-color: transparent;
}
.subscribe-form {
	text-align: center;
}
.subscribe-form .input-wrap {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.subscribe-form input {
  	text-align: center;
  	font-family: GothamPro-Bold, sans-serif;
  	color: #fecf26;
  	border: none;
  	background: url("../i/bg-input.png") center no-repeat;
  	width: 200px;
  	height: 59px;
  	margin: 0;
}
.subscribe-form input::-webkit-input-placeholder {
  	color: #fecf26;
}
.subscribe-form input::-moz-placeholder {
  	color: #fecf26;
}
.subscribe-form input:-moz-placeholder {
	color: #fecf26;
}
.subscribe-form input:-ms-input-placeholder {
  	color: #fecf26;
}
.subscribe-form .input-wrap {
  	width: 200px;
}
.subscribe-form label.error {
  	left: 50%;
  	-webkit-transform: translateX(-50%);
  	-moz-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	-o-transform: translateX(-50%);
	transform: translateX(-50%);
  	bottom: 8px;
}
.subscribe-form-wrap {
  	margin: 69px 0 97px;
  	padding: 35px 0 27px;
  	position: relative;
  	z-index: 2;
}
.subscribe-form-wrap:before {
  	content: '';
  	position: absolute;
  	z-index: -1;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: -9px;
  	background: url("../i/border-form-top.png") left top no-repeat, url("../i/border-form-bottom.png") right bottom no-repeat;
}
.subscribe-form-title {
  	font-size: 20px;
  	font-family: GothamPro-Bold, sans-serif;
  	color: #003c78;
  	margin: 0 0 27px 11px;
  	letter-spacing: -0.1px;
}
.subscribe-form-title mark {
  	color: #ffffff;
  	background-color: transparent;
}
.subscribe-form-mark {
  	width: 200px;
  	text-align: center;
  	font-size: 11px;
  	line-height: 1.2;
  	color: #3049a2;
  	margin: 4px 0 0 auto;
  	letter-spacing: -0.7px;
}
.subscribe-links li {
  	margin-right: 14px;
}
.subscribe-links-wrap {
  	margin-left: 13px;
  	text-align: left;
}
.subscribe-links-text {
  	font-size: 16px;
  	font-family: GothamPro-Bold, sans-serif;
  	color: #ffffff;
  	margin-bottom: 18px;
}
.subscribe-links-text mark {
  	color: #fecf26;
  	background-color: transparent;
}
.subscribe-left .subscribe-form-wrap {
	display: none;
}




@media screen and (max-width: 1279px) {
	.main-caption {
		font-size: 30px;
	}
	.main-text {
		font-size: 17px;
	}
	.courses-description {
    	font-size: 17px;
  	}
  	.courses-ico {
	    -webkit-transform-origin: top center;
	    -moz-transform-origin: top center;
	    -ms-transform-origin: top center;
	    -o-transform-origin: top center;
	    transform-origin: top center;
	    -webkit-transform: scale(0.8);
	    -moz-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	    -o-transform: scale(0.8);
	    transform: scale(0.8);
    	margin-bottom: 0;
  	}
  	.courses-title {
    	font-size: 16px;
  	}
  	.courses-text {
		font-size: 14px;
 	}
  	.courses-text br {
    	display: none;
	}
  	.levels-button {
    	padding-top: 147px;
    	font-size: 14px;
  	}
  	.levels-button:before {
    	zoom: .8;
  	}
  	.levels-button:after {
    	top: 108px;
  	}
  	.levels-button-wrap {
    	padding: 0 5px;
  	}
  	.levels-duration {
    	width: 110px;
    	top: -45px;
  	}
  	.levels-tabs-buttons:before {
    	top: 42px;
    	background-size: contain;
  	}
  	.reviews-slider {
    	width: 100%;
    	box-sizing: border-box;
    	padding: 0 60px;
  	}
  	.reviews-slider .slick-prev {
    	left: 0;
  	}
  	.reviews-slider .slick-next {
    	right: 0;
  	}
  	.benefits-list {
    	margin: 0 -8px;
  	}
  	.benefits-item {
    	padding: 187px 8px 0;
    	width: 32%;
  	}
  	.subscribe-section mark {
    	display: block;
  	}
  	.subscribe-left,
  	.subscribe-right {
    	width: 345px;
  	}
  	.subscribe-image {
    	margin-top: 35px;
  	}
  	.subscribe-image img {
  		display: block;
  		width: 100%;
  	}
  	.subscribe-share img {
  		display: block;
  		width: 100%;
  	}
  	.subscribe-form {
    	margin: 0 25px;
  	}
  	.subscribe-form input {
    	width: 100%;
    	background-size: 100% 100%;
    	margin: 0 0 12px;
  	}
  	.subscribe-form-wrap {
    	text-align: center;
    	margin: 0 0 35px;
    	padding: 25px 0 20px;
  	}
  	.subscribe-form-mark {
    	margin: 5px auto 0;
  	}
}

@media screen and (max-width: 767px) {
	.b-1 .b-block {
		padding-bottom: 50px;
	}
	.b-2 .b-block {
		padding-top: 25px;
		padding-bottom: 30px;
	}
  	.courses-description {
    	font-size: 15px;
    	margin-bottom: 50px;
  	}
  	.courses-list {
    	margin: 0 -10px;
  	}
  	.courses-item {
  		display: block;
    	width: auto;
    	max-width: 280px;
    	padding: 0 10px;
    	margin: 0 auto;
    	margin-bottom: 30px;
  	}
  	.courses-ico {
    	margin-bottom: -20px;
  	}
  	.b-3 .b-block {
    	padding-top: 25px;
  	}
  	.levels-tabs-buttons {
    	margin: 0;
  	}
  	.levels-tabs-buttons:before {
    	display: none;
  	}
  	.levels-tabs-item {
    	width: 100%;
  	}
  	.levels-button {
    	padding-top: 95px;
  	}
  	.levels-button:after {
    	display: none;
  	}
  	.levels-button-wrap {
    	width: 30%;
    	max-width: 220px;
    	margin-bottom: 40px;
  	}
  	.levels-button-wrap:nth-child(3n) .levels-duration {
    	display: none;
  	}
  	.levels-button-wrap:last-child:before {
    	top: -12px;
    	margin-top: 0;
    	right: 10px;
    	z-index: 2;
    	-webkit-transform: scale(0.6);
    	-moz-transform: scale(0.6);
    	-ms-transform: scale(0.6);
    	-o-transform: scale(0.6);
		transform: scale(0.6);
    	-webkit-transform-origin: 100% 0;
    	-moz-transform-origin: 100% 0;
    	-ms-transform-origin: 100% 0;
    	-o-transform-origin: 100% 0;
    	transform-origin: 100% 0;
  	}
  	.levels-duration {
    	width: 135px;
    	top: -30px;
  	}
  	.levels-image {
    	margin: 0 15px 15px;
  	}
  	.levels-description {
  		width: 100%;
  	}
  	.levels-description span,
  	.levels-description b {
    	text-align: center;
  	}
	.b-4 .b-block {
    	padding-top: 25px;
    	padding-bottom: 40px;
  	}
  	.reviews-slider {
    	padding: 0 0 50px;
    	margin-bottom: 20px;
  	}
  	.reviews-slider .slick-prev,
  	.reviews-slider .slick-next {
    	margin-top: 0;
    	top: 70px;
  	}
  	.reviews-item {
    	padding: 0;
  	}
  	.reviews-photo {
  		display: block;
    	margin: 0 auto 15px;
  	}
  	.reviews-text-wrap {
  		width: 100%;
  	}
  	.reviews-author {
    	text-align: center;
  	}
  	.reviews-links {
    	text-align: center;
  	}
  	.b-5 .b-block {
	   	padding-top: 30px;
	   	padding-bottom: 25px;
	}
	.benefits-item {
	  	width: 100%;
	   	max-width: 260px;
	   	margin-bottom: 40px;
	   	padding-top: 175px;
	}
	.benefits-item:nth-last-child(-n+4) {
	   	margin-bottom: 40px;
	}
	.b-6 .b-block {
    	padding-top: 35px;
  	}
  	.subscribe-left {
    	width: auto;
    	max-width: 500px;
    	margin: 0 auto;
    	margin-bottom: 25px;
    	float: none !important;
  	}
  	.subscribe-left .subscribe-form-wrap {
  		display: block;
  	}
  	.subscribe-right {
  		width: auto;
  		max-width: 500px;
  		float: none !important;
  		margin: 0 auto;
  	}
  	.subscribe-right .subscribe-form-wrap {
  		display: none;
  	}
  	.subscribe-image {
    	margin-top: 0;
  	}
  	.subscribe-form {
    	display: block;
  	}
  	.subscribe-form .input-wrap {
    	width: 100%;
    	margin-right: 0;
  	}
  	.subscribe-share-text {
    	text-align: center;
  	}
  	.subscribe-links {
  		text-align: center;
  	}
  	.subscribe-links-text {
    	text-align: center;
  	}
}

@media screen and (max-width: 540px) {
	.levels-button-wrap {
    	width: calc(50% - 10px);
  	}
  	.levels-button-wrap:nth-child(3n) .levels-duration {
    	display: block;
  	}
  	.levels-button-wrap:nth-child(2n) .levels-duration {
    	display: none;
  	}
}