.b-1-table {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.b-1-cell {
	display: table-cell;
	vertical-align: middle;
}
.section-caption {
	font-size: 57px;
	margin-bottom: 30px;
}
.caption-text {
	display: block;
	text-align: center;
	font-size: 35px;
	color: #000000;
	margin-bottom: 59px;
}
.b-1 img {
	display: block;
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
}

@media screen and (max-width: 1279px) {
	.b-1 .b-block {
		padding-bottom: 60px;
	}
}


